select{
    width:40vw;
    height: 50px;
    margin: 10px;
    background-color: rgba(155, 151, 151, 0.767);
    text-transform: uppercase;
    
    &::placeholder{
        color:white
    }
    option{
        background-color:darken(rgba(155, 151, 151, 0.767),.1);
        font-size: 20px;

    }
}