.container{
   
    background: #222121ad;
    border-bottom: 1px solid black;
    margin:0 3vw;
    font-size: 25px;
    color:white;
    height: 84vh;
    display: flex;
    justify-content: center;
    

    .form{
       
        display:block;
        border: 1px solid black;
        background-color: rgba(109, 109, 94, 0.521);
        label{
            display: block;
            margin:0 auto;
            font-size: 30px;
            color:black

        }
        
        
       


        input{
            width:40vw;
            height: 50px;
            margin: 10px;
            background-color: rgba(155, 151, 151, 0.767);
            text-transform:uppercase;
            &::placeholder{
                color:white
            }
            
           
        }
        select{
            width:40vw;
            height: 50px;
            margin: 10px;
            background-color: rgba(155, 151, 151, 0.767);
            text-transform: uppercase;
            
            &::placeholder{
                color:white
            }
            option{
                background-color:darken(rgba(155, 151, 151, 0.767),.1);
                font-size: 20px;

            }
            
           
        }
        textarea{
            width: 40vw;
            height: 15vh;
            background-color: rgba(155, 151, 151, 0.767);
            margin:10px;
            text-transform: uppercase;

            &::placeholder{
                color:white
            }
            

        }
        button{
                background: rgba(104, 105, 114, 0.747);
                color: #fff;
                font-size: 15px;
                padding: 10px 20px;
                width: 40vw;
                height: 4vh;
                margin:10px;
                text-transform: uppercase;
        }
    }

}