.header{
    background: #000000c2;
    border-bottom: 1px solid black;
    margin:0 3vw;

    .links{
        color:white;
       .link{
        border:2px solid black;
        color:white;
        font-size: 25px;
        text-decoration: none;
        background-color: yellow;

       }
    }
    .menu{
        color:white;
        background-color: red;
        width: 25;
        height: 25;
    }
    
}
.headerOpt{
    display:flex;
}
.logo{
    flex-grow: 1;
    padding-top: 8px;
}

.logo img{
    width:50px;
}
