.footer{
    
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    position: fixed;
    bottom:0;
    width: 100vw;
    margin-right:10px;
    display: flex;
    justify-content: flex-end;



  

    .container{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        .copy{
            align-self: center;
            margin-right: 45px;
        }
        
    
   
    a{

        img{
            width:25px;
            height: 25px;
            margin:10px;
            
        }
    
    }
}

}

